#ftt {
		margin-top: 2px;
		width: 100%;
		/*height: 255px;*/
}

#loadScreen{
	position: absolute;
	left: 20%;
	top: 40%;
}
#loadTitle{
	font-size: 5em;
	color:white;
}
#loadText{
	font-size: 1em;
	color:grey;
}
#loadSubText{
	font-size: 2em;
	color:white;
}