/*#ftt {
		margin-top: 2px;
		width: 100%;
}
*/
#loadScreen{
	position: absolute;
	left: 10%;
	top: 40%;
	width:100%;
}
.loadTitle{
	font-size: 4em;
	color:red;
}
.loadText{
	font-size: 1em;
	color:grey;
}
.loadSubText{
	font-size: 2em;
	color:red;
}
#scoreBoard{
	color: red;
	position: absolute;
	right: 25%;
	top: 5%;
}
